$font-color: black;
$btn-color: #d3d4dd;
$banana: #fcf6b1;
$background-hover: #00a6ed;
$green: #7fb800;
$red: #f6511d;
$gold: #ffb400;

﻿body {
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    background-color: #0d2c54;
    word-break: break-all;
    /*width: 50%;*/
}

/*Navigation*/
nav {
    width: 100%;
    margin: auto;
    background-color: #00a6ed;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li {
            display: inline;
            list-style: none;
            width: 33.3%;
            text-align: center;

            a {
                text-decoration: none;
                color: $font-color;
                padding: 7px;
            }

            a:hover {
                background-color: $background-hover;
            }
        }
    }
}

/*New Goal*/
input {
    margin: 10px auto;
    display: block;
    width: 170px;
    text-align: center;
}

.description {
    width: 500px;
}

.input-container {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.task {
    margin-bottom: 20px;
}

.container {
  width: 75%;
}

#add-goal {
  display: flex;
  flex-wrap: wrap;

  .btns-list {
    width: 20%;

    li {
      list-style: none;
    }
  }
}

/*Button*/
%btn {
    cursor: pointer;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
}

%btn:hover {
  background-color: $background-hover;
}

%btn:active {
  border: 1px inset white;
}

.btn {
  @extend %btn;
  background-color: $btn-color;
}

.btn-success {
    @extend %btn;
    background-color: #8fc93a;
}

.btn-fail {
    @extend %btn;
    background-color: #d61815;
}

.btn-save {
    @extend %btn;
    text-transform: uppercase;
    background-color: $gold;
}

/*Goals List*/
.goals-list {
    display: block;

    .list-item {
        width: 80%;
        margin: 20px auto;
        border-radius: 18px;
    }

    .list-item:hover {
      /*background-color: $background-hover;*/
      border: 3px solid $background-hover;
    }

    .goal-div {
      padding: 20px 30px;
      background-color: $banana;

      p {
        margin: 5px;
      }
    }

    .goal-link {
        text-decoration: none;
        color: $font-color;
    }
}

/*Goal status*/
%goal-status {
  border-width: 1px 1px 1px 15px;
  border-radius: 15px;
  border-style: solid;
}
.done {
  @extend %goal-status;
  border-color: $gold;
}

.failed {
  @extend %goal-status;
  border-color: $red;
}

.waiting {
  @extend %goal-status;
  border-color: $green;
}

/*Goal detail*/
.goal-detail {

  p {
    margin: 10px 20px;
  }

  ul {
      padding: 0;

      li {
          list-style: none;
        }
      }

  .goal-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    .waiting {
      border: none;
    }

    .failed {
      border: none;
    }
  }

  .goal-done{
    @extend %goal-status;
    border-color: $gold;

    .done {
      border: none;
    }
  }

  .btns-list {
    width: 20%;

  }

  .goal-div {
    width: 75%;

    p:first-child {
      font-weight: bold;
    }
  }
}

/*Task detail*/
.task-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  .task-div {
    width: 75%;

    p:first-child {
      font-weight: bold;
    }
  }

  .btns-list {
    width: 20%;
  }

  .done {
    @extend %goal-status;
    border-color: $gold;
    display: block;
    width: 100%;
  }

  .failed {
    @extend %goal-status;
    border-color: $red;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .failed-both {
    @extend %goal-status;
    border-color: $red;
    width: 100%;
  }

  .waiting {
    @extend %goal-status;
    border-color: $green;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.btns-list {

  li {
    margin: 10px 0;
  }

  button {
    width: 100%;
  }
}

/*Edit Goal*/
.edit {
  text-align: center;

  p:first-child {
    font-weight: bold;
    text-transform: uppercase;
  }

  input {
    background-color: $banana;
  }
}

form {
  text-align: center;
}
