/*Variables*/
$font-color: black;
$border-color: #0496ff;

﻿body {
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
    /*width: 50%;*/
}

/*Navigation*/
nav {
    width: 50%;
    margin: auto;
    background-color: $border-color;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li {
            display: inline;
            list-style: none;
            width: 33.3%;
            text-align: center;

            a {
                text-decoration: none;
                color: $font-color;
                padding: 7px;
            }

            a:hover {
                background-color: #027bce;
            }
        }
    }
}

/*New Goal*/
input {
    margin: 10px auto;
    display: block;
    width: 170px;
    text-align: center;
}

.description {
    width: 500px;
}

.input-container {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.task {
    margin-bottom: 30px;
}

/*Button*/
%btn {
    cursor: pointer;
    border: 1px outset;
    padding: 5px;
}

.btn-success {
    @extend %btn;
    background-color: #8fc93a;
}

.btn-fail {
    @extend %btn;
    background-color: #d61815;
    float: right;
    margin: -71px 0 0 0;
}

.btn-save {
    @extend %btn;
    width: 100px;
    float: right;
    text-transform: uppercase;
}

/*Goals List*/
.goals-list {
    display: block;

    .list-item {
        width: 80%;
        margin: 20px auto;
        border: 1px outset;
    }

    .list-item:hover {
      background-color: #1c77c3;
    }
}

.goal-link {
    text-decoration: none;
    color: $font-color;
}

/*Goal status*/
.done {
  border-color: #8d99ae;
  background-color: #8d99ae;
}

.failed {
  border-color: #d61815;
  background-color: #d61815;
}

.waiting {
  border-color: #8fc93a;
  background-color: #8fc93a;
}

/*Goal detail*/
.goal-detail {
  ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      li {
          display: inline;
          list-style: none;
          width: 33.3%;
          text-align: center;

          a {
              text-decoration: none;
              color: $font-color;
              border: 1px outset $border-color;
              background-color: $border-color;
              padding: 7px;
          }

          a:hover {
              background-color: #027bce;
          }
        }
      }
}
