body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  word-break: break-word;
  /*width: 50%;*/
  background-image: url("../../img/back.jpeg");
}

main {
  margin-top: 80px;
}

/*Navigation*/
nav {
  width: 100%;
  margin: auto;
  background-color: #00a6ed;
  position: fixed;
  top: 0;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
nav ul li {
  display: inline;
  list-style: none;
  width: 25%;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 7px;
}
nav ul li a:hover {
  background-color: #45bef1;
}

/*New Goal*/
input {
  margin: 10px auto;
  display: block;
  width: 170px;
  text-align: center;
}

.description {
  width: 100%;
}

.input-container {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  background-color: #fcf6b1;
  padding: 10px;
  border-radius: 15px;
}

.task {
  margin-bottom: 20px;
}

#add-goal {
  display: flex;
  flex-wrap: wrap;
}
#add-goal .container {
  width: 75%;
  border: none;
  padding: 0;
  background-color: transparent;
}
#add-goal .btns-list {
  width: 20%;
}
#add-goal .btns-list li {
  list-style: none;
}

/*Button*/
.btn-save, .btn-fail, .btn-success, .btn {
  cursor: pointer;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
}

.btn-save:hover, .btn-fail:hover, .btn-success:hover, .btn:hover {
  background-color: #45bef1;
}

.btn-save:active, .btn-fail:active, .btn-success:active, .btn:active {
  border: 1px inset white;
}

.btn {
  background-color: #d3d4dd;
}

.btn-success {
  background-color: #8fc93a;
}

.btn-fail {
  background-color: #d61815;
}

.btn-save {
  text-transform: uppercase;
  background-color: #ffb400;
}

.btn-img {
  margin-right: 5px;
}

/*Goals List*/
.goals-list {
  display: block;
}
.goals-list .list-item {
  width: 80%;
  margin: 20px auto;
  border-radius: 18px;
}
.goals-list .list-item:hover {
  border: 3px solid #45bef1;
}
.goals-list .goal-div {
  padding: 20px 30px;
  background-color: #fcf6b1;
}
.goals-list .goal-div p {
  margin: 5px;
}
.goals-list .goal-div p:first-child {
  font-weight: bold;
}
.goals-list .goal-link {
  text-decoration: none;
  color: black;
}
.goals-list .goal-div {
  display: flex;
  flex-wrap: wrap;
}
.goals-list .details {
  width: 75%;
}

/*Icons*/
.img {
  width: 20%;
  border-left: 1px solid grey;
}

.img-gold {
  color: #ffb400;
  float: right;
  margin: 20px 0;
}

.img-red {
  color: #f6511d;
  float: right;
  margin: 30px 0;
}

.img-green {
  color: #7fb800;
  float: right;
  margin: 10px 0;
}

/*Goal status*/
.task-container .waiting, .task-container .failed-both, .task-container .failed, .task-container .done, .goal-detail .goal-done, .waiting, .failed, .done {
  border-width: 2px 2px 2px 15px;
  border-radius: 15px;
  border-style: solid;
}

.done {
  border-color: #ffb400;
}

.failed {
  border-color: #f6511d;
}

.waiting {
  border-color: #7fb800;
}

/*Goal detail*/
.goal-detail p {
  margin: 10px 20px;
}
.goal-detail ul {
  padding: 0;
}
.goal-detail ul li {
  list-style: none;
}
.goal-detail .goal-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  background-color: #fcf6b1;
}
.goal-detail .goal-container .waiting {
  border: none;
}
.goal-detail .goal-container .failed {
  border: none;
}
.goal-detail .goal-done {
  border-color: #ffb400;
  background-color: #fcf6b1;
}
.goal-detail .goal-done .done {
  border: none;
}
.goal-detail .btns-list {
  width: 20%;
}
.goal-detail .goal-div {
  width: 75%;
}
.goal-detail .goal-div p:first-child {
  font-weight: bold;
}
.goal-detail .img {
  display: none;
}

/*Task detail*/
.task-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  background-color: #fcf6b1;
  border-radius: 15px;
}
.task-container .task-div {
  width: 75%;
}
.task-container .task-div p:first-child {
  font-weight: bold;
}
.task-container .btns-list {
  width: 20%;
}
.task-container .done {
  border-color: #ffb400;
  display: block;
  width: 100%;
}
.task-container .failed {
  border-color: #f6511d;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.task-container .failed-both {
  border-color: #f6511d;
  width: 100%;
}
.task-container .waiting {
  border-color: #7fb800;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btns-list li {
  margin: 10px 0;
}
.btns-list button {
  width: 100%;
}

/*Edit Goal*/
.edit {
  text-align: center;
  display: block !important;
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  background-color: #fcf6b1;
  border-radius: 15px;
}
.edit #add-goal {
  display: block;
}
.edit p:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

form {
  text-align: center;
}

/*Not Found*/
.img-error {
  width: 100%;
}

.error-page .btn {
  width: 100%;
  font-size: 1.4em;
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: #fcf6b1;
  width: 50%;
  height: auto;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  border: 30px solid transparent;
  border-image: url("../../img/leaf.png") 30 round;
  border-radius: 15px;
}
.modal-main .img-gold {
  float: none;
}
.modal-main .btn-success {
  width: 200px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}
.modal-main p {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*Home*/
.container {
  padding: 20px 30px;
  background-color: #fcf6b1;
  border: 3px solid #00a6ed;
  border-radius: 15px;
  width: 80%;
  margin: auto;
}

/*# sourceMappingURL=src/styles/css/index.css.map */
